@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');

*{
    font-family: "inter",sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.engwidt{
    width: 100%;
    font-size: 32px;
    color: #593E26;
}
.container{
  /*background-color:red;*/
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.btn{
    background-color: #f66909;
    border-radius: 4px;
    padding: 10px;
    color: white;
    display: inline-block;
    margin-top: 15px;
}

.bold{
    font-weight: 600;
}

.bgyelleow{
    background-color: #f3c827;
}

.alit{
    align-items: center;
}


/*HEADER*/
header {
   /* background-color: yellow;*/
    padding: 15px 15px;
}

.alignCenter {
    align-items: center;
}
.spacebetwen{
    justify-content: space-between;
}

.navHeader{
    /*background-color: beige;*/
    width: 50%;
}

.panier{
    color: #f3c827;
    font-size: 25px;
    
}


/*debut su hero*/
.hero{
    height: 100vh;

}
.hero h2{
    font-family: "WindSong", cursive;
    font-size: 120px;
    font-weight: 500;
}

h1 {
    font-size: 32px;
}

/*section engagement*/
.gage{
    height: 60vh;
}
.engagement p{
    width: 46%;
    margin-top: 15px;

}

.sectH2{
    padding: 25px 15px;
}

/*section Bienfaits*/

.pol{
   width: 26%;
}

.ftr{
    margin-bottom: 15px;
}



/*section produit*/

.parMar{
    padding: 10px;
}
.lacarte {
    width: 270px;
    background-color: #f3c827;
  }
.lac{
    width: 100%;
}

/*section client*/

.clientBox{
    width: 260px;

}

.ftrC{
    margin-bottom: 25px;
}
.withclient{
    width: 25%;
}
.withimg{
    width: 70%;
}

.interItal{
    font-weight:400;
    font-style: italic;
}


/*section nous trouver*/

.ifwith{
    width:100%;

}
.interN{
    font-weight:600;
    margin-bottom: 10px;
}

/*footer section*/

.lipm{
   margin-top: 12px;
   margin-bottom: 12px;
}

.limp{
    margin-top: 5px;
}

.bolk{
    display: block;
}

html{
    scroll-behavior: smooth;
}